div {
    width: 100%;
    height: 100%;
}

svg.piece {
    width: 100%;
    height: 100%;
}

svg.piece > image {
    height: 400%;
    width: 600%;
}
:host.phantom > div > svg > image {
    opacity: .25;
}

:host.black > div > svg > image {
    y: 0;
}

:host.gold > div > svg > image {
    y: -100%;
}

:host.silver > div > svg > image {
    y: -200%;
}

:host.white > div > svg > image {
    y: -300%;
}

:host.king > div > svg > image {
    x: 0;
}

:host.queen > div > svg > image {
    x: -100%;
}

:host.rook > div > svg > image {
    x: -200%;
}

:host.bishop > div > svg > image {
    x: -300%;
}

:host.knight > div > svg > image {
    x: -400%;
}

:host.pawn > div > svg > image {
    x: -500%;
}
