/* board css stylesheet */

.square{
  cursor: pointer;
  float: left;
  height: 100px;
  width: 100px;
}

.transparent {
  background-color: transparent !important;
}

.square.floatme{
  clear:both;
}

svg.piece {
  width: 100px;
  height: 100px;
}

image.piece {
  href: "/web/app/chess.png";
  height: 400px;
  width: 600px;
}

image.black {
  y:0;
}

image.gold {
  y:-100;
}

image.silver {
  y:-200;
}

image.white {
  y:-300;
}

image.king {
   x:0;
}

image.queen {
  x:-100;
}

image.rook {
  x:-200;
}

image.bishop {
  x:-300;
}

image.knight {
  x:-400;
}

image.pawn {
  x:-500;
}
