Number of Players: <select (change)="changePlayers(+$event.target['value'])">
    <option [value]="2">two player</option>
    <option [value]="4">four player</option>
</select>
<p></p>Rotation:<select (change)="changeRotation($event.target['value'])">
    <option *ngFor="let name of rotationKeys" [value]="rotations[name]">
        {{name}}
    </option>
</select>
<app-tray [playerCount]="playerCount" (pieceSelected)="pieceSelected($event)"></app-tray>
<p></p>Current Player:<select (change)="changeActiveColor($event.target['value'])">
    <option *ngFor="let name of colorKeys" [value]="colors[name]">
        {{name}}
    </option>
</select>
<p></p><button (click)="submit($event)">Evaluate</button>
<app-board [rotation]="rotation"
           [theme]="'tan'"
           [config]="config"
           [pieces]="pieces"
           [markers]="markers"
           [selected]="selected"
           [moveColor]="activeColor"
           [isSelectable]="isSelectable"
           [highlighted]="highlighted"
           [showMarkers]="true"
           (squareClicked)="clickHandler($event)">
</app-board>
