<!--<link rel="stylesheet" href="/game/board/board-meta.css">-->
<!--<link *ngIf="theme == 'black'" rel="stylesheet" href="/game/board/board-black.css">-->
<!--<link *ngIf="theme == 'blue'" rel="stylesheet" href="/game/board/board-blue.css">-->
<!--<link *ngIf="theme == 'green'" rel="stylesheet" href="/game/board/board-green.css">-->
<!--<link *ngIf="theme == 'orange'" rel="stylesheet" href="/game/board/board-orange.css">-->
<!--<link *ngIf="theme == 'red'" rel="stylesheet" href="/game/board/board-red.css">-->
<!--<link *ngIf="theme == 'tan'" rel="stylesheet" href="/game/board/board-tan.css">-->

<div>
  <div class="header" [ngClass]="[rotation]">
    <div class="corner"></div>
    <div *ngFor="let head of headers">{{head}}</div>
    <div class="corner"></div>
  </div>
  <div style="display: flex; flex-direction: row;">
    <div class="labels" [ngClass]="[rotation]">
      <div *ngFor="let label of labels">{{label}}</div>
    </div>
    <div class="grid" [ngClass]="[rotation]">
      <div *ngFor="let row of squares; let rowIdx = index" class="row" [ngClass]="[rotation]">
        <div *ngFor="let visible of row; let colIdx = index" class="square" [className]="theme + '-theme'"
             [ngClass]="{
                              'dark': (rowIdx + colIdx) % 2 == (corner + size) % 2,
                              'light': (rowIdx + colIdx) % 2 != (corner + size) % 2,
                              'transparent': !visible,
                              'selected': isSelected(rowIdx, colIdx),
                              'highlighted': isHighlighted(rowIdx, colIdx),
                              'opponent': isOpponent(rowIdx, colIdx),
                              'selectable': isSelectable(rowIdx, colIdx),
                              'check': isInCheck(rowIdx, colIdx)
                          }"
             (click)="clickSquare(rowIdx, colIdx)">
          <app-piece [color] = "getPiece(rowIdx, colIdx).color" [piece]="getPiece(rowIdx, colIdx).type" ></app-piece>
          <app-analysis [markers] = "getMarker(rowIdx, colIdx)" [rotation]="rotation"></app-analysis>
        </div>
      </div>
    </div>
  </div>
</div>
