/* Black & White */

.black-theme.dark {
    background-color: #000;
}

.black-theme.light {
    background-color: #FFF;
}

.black-theme.selected {
    background-color: yellow !important;
}

.black-theme.highlighted.light {
    background-color: khaki;
}

.black-theme.highlighted.dark {
    background-color: saddlebrown;
}

/*.opponent.light {*/
/*  background-color: cyan;*/
/*}*/

/*.opponent.dark {*/
/*  background-color: darkcyan;*/
/*}*/

.black-theme.highlighted.opponent.light {
    background-color: red;
}

.black-theme.highlighted.opponent.dark {
    background-color: darkred;
}
