/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.square{
  color: #fff;
  cursor: pointer;
  float: left;
  height: 100px;
  width: 100px;
}

.dark {
  background-color: #003;
}

.light {
  background-color: #55F;
}

.transparent {
  background-color: transparent !important;
}

.square.floatme{
  clear:both;
}

svg.piece {
  width: 100px;
  height: 100px;
}

image.piece {
  href: "/web/app/chess.png";
  height: 400px;
  width: 600px;
}

image.black {
  y:0;
}

image.gold {
  y:-100;
}

image.silver {
  y:-200;
}

image.white {
  y:-300;
}

image.king {
   x:0;
}

image.queen {
  x:-100;
}

image.rook {
  x:-200;
}

image.bishop {
  x:-300;
}

image.knight {
  x:-400;
}

image.pawn {
  x:-500;
}
