/* game css stylesheet */

.grid {
  display: flex;
  flex-direction: column-reverse;
}

.grid.clockwise {
  flex-direction: row;
}

.grid.upsidedown {
  flex-direction: column;
}

.grid.counterclockwise {
  flex-direction: row-reverse;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.clockwise {
  flex-direction: column;
}

.row.upsidedown {
  flex-direction: row-reverse;
}

.row.counterclockwise {
  flex-direction: column-reverse;
}

.header {
  display: flex;
  flex-direction: row;
}

.header.counterclockwise,.header.upsidedown {
  justify-content: flex-end;
}

.header.counterclockwise,.header.upsidedown {
  flex-direction: row-reverse;
}

.header > div {
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.header > div.corner {
  width: 50px;
  height: 50px;
}

.labels {
  display: flex;
  flex-direction: column-reverse;
}

.labels.clockwise,.labels.upsidedown {
  flex-direction: column;
}

div.labels > div {
  display: flex;
  width: 50px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.square{
  position:relative;
  cursor: default;
  height: 100px;
  width: 100px;
}

.transparent {
  background-color: transparent !important;
}

.selectable,.available {
  cursor: pointer;
}

svg.piece {
  width: 100px;
  height: 100px;
}

svg.piece > image {
  height: 400px;
  width: 600px;
}

svg.black > image {
  y:0;
}

svg.gold > image {
  y:-100;
}

svg.silver > image {
  y:-200;
}

svg.white > image {
  y:-300;
}

svg.king > image {
   x:0;
}

svg.queen > image {
  x:-100;
}

svg.rook > image {
  x:-200;
}

svg.bishop > image {
  x:-300;
}

svg.knight > image {
  x:-400;
}

svg.pawn > image {
  x:-500;
}
