<link rel="stylesheet" href="/web/app/game/board/board.css">
<link rel="stylesheet" href="/web/app/game/board/board-meta.css">
<link ng-if="theme == 'black'" rel="stylesheet" href="/web/app/game/board/board-black.css">
<link ng-if="theme == 'blue'" rel="stylesheet" href="/web/app/game/board/board-blue.css">
<link ng-if="theme == 'green'" rel="stylesheet" href="/web/app/game/board/board-green.css">
<link ng-if="theme == 'orange'" rel="stylesheet" href="/web/app/game/board/board-orange.css">
<link ng-if="theme == 'red'" rel="stylesheet" href="/web/app/game/board/board-red.css">
<link ng-if="theme == 'tan'" rel="stylesheet" href="/web/app/game/board/board-tan.css">

<div>
    <h2 style="text-align: center">{{board.name}}{{meta}} {{currentPlayer}}'s Turn</h2>
    <div class="header" ng-class="[rotation]">
        <div class="corner"></div>
        <div ng-repeat="head in headers">{{head}}</div>
        <div class="corner"></div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div class="labels" ng-class="[rotation]">
            <div ng-repeat="label in labels">{{label}}</div>
        </div>
        <div class="grid" ng-class="[rotation]">
            <div ng-repeat="row in board.pieces track by $index" class="row" ng-class="[rotation]">
                <div ng-repeat="piece in row.cols track by $index" class="square"
                     ng-class="{
                            'dark': ($index + $parent.$index) % 2 == board.corners % 2,
                            'light': ($index + $parent.$index) % 2 != board.corners % 2,
                            'transparent': !isVisible($index, $parent.$index),
                            'active': isActive($index, $parent.$index),
                            'available': isAvailable($index, $parent.$index),
                            'opponent': isOpponent($index, $parent.$index),
                            'selectable': piece.color == (currentPlayer | lowercase)
                        }"
                        ng-click="clickSquare($index, $parent.$index)">
                    <svg ng-show="piece && piece.piece != 'empty'" class="piece">
                        <image class="piece" ng-class="[piece.color, piece.piece]" href="/web/app/chess.png"/>
                    </svg>
                    <div ng-show="meta" class = "meta">
                        <div ng-repeat="ab in piece.metadata.attackedBy track by $index" class="attack"
                             ng-class="[ab.direction, rotation, piece.metadata.pinDir == ab.direction && piece.metadata.pinDir != 'none' ? 'pinned':'']">
                            <div ng-repeat="color in ab.colors track by $index" ng-class="color"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</div>
