/* game css stylesheet */

.grid {
  display: flex;
  flex-direction: column-reverse;
}

.grid.clockwise {
  flex-direction: row;
}

.grid.upsidedown {
  flex-direction: column;
}

.grid.counterclockwise {
  flex-direction: row-reverse;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.clockwise {
  flex-direction: column;
}

.row.upsidedown {
  flex-direction: row-reverse;
}

.row.counterclockwise {
  flex-direction: column-reverse;
}

.header {
  display: flex;
  flex-direction: row;
}

.header.counterclockwise,.header.upsidedown {
  justify-content: flex-end;
}

.header.counterclockwise,.header.upsidedown {
  flex-direction: row-reverse;
}

.header > div {
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.header > div.corner {
  width: 50px;
  height: 50px;
}

.labels {
  display: flex;
  flex-direction: column-reverse;
}

.labels.clockwise,.labels.upsidedown {
  flex-direction: column;
}

div.labels > div {
  display: flex;
  width: 50px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.square{
  cursor: pointer;
  float: left;
  height: 100px;
  width: 100px;
}

.transparent {
  background-color: transparent !important;
}

.available {
  cursor: pointer;
}

svg.piece {
  width: 100px;
  height: 100px;
}

image.piece {
  href: "/web/app/chess.png";
  height: 400px;
  width: 600px;
}

image.black {
  y:0;
}

image.gold {
  y:-100;
}

image.silver {
  y:-200;
}

image.white {
  y:-300;
}

image.king {
   x:0;
}

image.queen {
  x:-100;
}

image.rook {
  x:-200;
}

image.bishop {
  x:-300;
}

image.knight {
  x:-400;
}

image.pawn {
  x:-500;
}
