<p>game {{id}} works!</p>
<app-board [rotation] = "rotation"
           [theme] = "'tan'"
           [config]="config"
           [pieces]="pieces"
           [selected] = "selected"
           [highlighted]="highlighted"
           [showMarkers]="showMarkers"
           [markers]="markers"
           [isSelectable]="isSelectable"
           (squareClicked)="clickHandler($event)">
</app-board>

<select (change)="changeRotation($event.target['value'])">
  <option *ngFor="let name of rotationKeys" [value]="rotations[name]">
    {{name}}
  </option>
</select>
<select (change)="changePlayers(+$event.target['value'])">
  <option [value]="2">two player</option>
  <option [value]="4">four player</option>
</select>

