<mat-card>
    <mat-slide-toggle [(ngModel)]="showMarkers" (click)="$event.stopPropagation();">Show Analysis</mat-slide-toggle>
</mat-card>
<app-board [rotation]="rotation"
           [theme]="'tan'"
           [config]="config"
           [pieces]="pieces"
           [selected]="selected"
           [highlighted]="highlighted"
           [showMarkers]="showMarkers"
           [markers]="markers"
           [isSelectable]="isSelectable"
           [isOpponent]="isOpponent"
           (squareClicked)="clickHandler($event)">
</app-board>
